@import "../../../styles/basics";

$size: 15px;
$diff: 3px;

:host /deep/ {
  .switch {
    padding-top: $diff;
    padding-left: $diff;

    input {
      display: none;
    }
  }

  .lbl {
    position: relative;
    display: block;
    height: $size;
    width: ($size * 2) + $diff;

    background: #898989;
    border-radius: 100px;
    transition: all 0.3s ease;
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      left: -$diff;
      top: -$diff;
      display: block;
      width: $size + 5;
      height: $size + 5;

      border-radius: 100px;
      background: $btn-secondary-border;
      box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
      transition: all 0.3s ease;
    }

    &:active {
      &:after {
        transform: scale(1.15, 0.85);
      }
    }
  }

  .cbx {
    &:checked {
      & ~ label {
        background: $primary-color-dark;

        &:after {
          left: $size + 5;
          background: $pink;
        }
      }
    }

    &:disabled {
      & ~ label {
        background: #d5d5d5;
        pointer-events: none;

        &:after {
          background: #bcbdbc;
        }
      }
    }
  }
}
