@import "../../../styles/basics";

:host /deep/ {
  h5 {
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  div.filter-zone {
    display: flex;    
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;    

    margin-bottom: 1.5rem;

    switch-component {
      margin-right: 2rem;
    }
  }

  @include media-breakpoint-only(xs) {
    div.filter-zone {
      flex-direction: column;

      switch-component,
      buttons-radio-component {
        margin-bottom: .8rem;
      }
    }
  }
}
