<div id="{{ id }}" class="{{ id }}">
  <div class="row">
    <div class="col col-12 col-sm-8 col-md-9 col-lg-9">
      <h5>
        <strong>Filtros:</strong>
        <small>mesas libres</small>
      </h5>

      <div class="row">
        <div class="col col-3 col-sm-3 col-md-2 col-lg-2">          
          <switch-component (action)="setSwitch($event)" [checked]="switchOn"></switch-component>          
        </div>

        <div class="col col-9 col-sm-9 col-md-10 col-lg-10">          
          <buttons-radio-component (action)="setFilter($event)" [options]="filters" [active]="filter"></buttons-radio-component>
        </div>
      </div>
    </div>

    <div class="col col-12 col-sm-4 col-md-3 col-lg-3">          
      <dropdown-component (action)="setOrder($event)" [options]="options" [active]="order"></dropdown-component>                  
    </div>
  </div>

  <h5>
    <strong>Lista de restaurantes:</strong>
  </h5>

  {{ filter.value }}
  <!-- Dinamic Pipe: https://stackoverflow.com/questions/40003649/angular-2-set-and-remove-custom-pipes -->
  
  <!--
    En restaurant-accordion-component, un pipe (dynamic) al cual se le pase un pipe y un booleano, y solamente funcionará el pipe cuando dicho booleano sea true.
  -->

  <!-- https://stackoverflow.com/questions/40565167/angular2-dynamic-pipe -->
  <restaurant-accordion-component [restaurants]="restaurants" [order]="order" [filter]="prueba"></restaurant-accordion-component>  
</div>
