<div id="{{ id }}" class="{{ id }}">
  <div class="row">
    <div class="col col-12 col-sm-8 col-md-9 col-lg-9">
      <h5>
        <strong>Filtros:</strong>
        <small>mesas libres</small>
      </h5>

      <div class="row">
        <div class="col col-3 col-sm-3 col-md-2 col-lg-2">
          <!-- switch component -->
          <switch-component (action)="switchComponent($event)" [checked]="activeFilter"></switch-component>
          <!-- / switch component -->
        </div>

        <div class="col col-9 col-sm-9 col-md-10 col-lg-10">
          <!-- componetizar como switch -->
          <div [(ngModel)]="filter" ngbRadioGroup>
            <label *ngFor="let item of filters | filter:'render':true" class="btn btn-primary" [ngClass]="{'disabled': !activeFilter}">
              <input type="radio" [value]="item.value">
              <span>{{ item.text }}</span>
            </label>
          </div>
          <!-- componetizar como switch -->
        </div>
      </div>
    </div>

    <div class="col col-12 col-sm-4 col-md-3 col-lg-3">    
      <!-- dropdown component -->
      <dropdown-component (action)="setOrder($event)" [options]="options" [active]="order"></dropdown-component>            
      <!-- / dropdown component -->
    </div>
  </div>

  <h5>
    <strong>Lista de restaurantes:</strong>
  </h5>

  <!-- restaurant accordion component -->
  <restaurant-accordion-component [restaurants]="restaurants" [order]="order" [filter]="filter"></restaurant-accordion-component>
  <!-- / restaurant accordion component -->
</div>
