<div id="{{ id }}" class="{{ id }}">  
  <h5>
    <strong>Filtros:</strong>
    <small>mesas libres</small>
  </h5>

  <div class="filter-zone">    
    <switch-component (action)="setSwitch($event)" [checked]="switchOn"></switch-component>            
    <buttons-radio-component (action)="setFilter($event)" [options]="filters" [active]="activeFilter"></buttons-radio-component>      
    <dropdown-component (action)="setOrder($event)" [options]="orders" [active]="order"></dropdown-component>                      
  </div>  

  <h5>
    <strong>Lista de restaurantes:</strong>
  </h5>

  <restaurant-accordion-component [restaurants]="restaurants" [filter]="filter" [order]="order"></restaurant-accordion-component>  
</div>
