<h3>Filters: mesas libres</h3>

<div class="row">
  <div class="col col-xs-6">    
    <div [(ngModel)]="model" ngbRadioGroup name="radioBasic">
      <label class="btn btn-primary">
        <input type="radio" [value]="1">
        <span>1 mesa</span>    
      </label>

      <label class="btn btn-primary">
        <input type="radio" value="2">
        <span>2 mesas</span>    
      </label>

      <label class="btn btn-primary">
        <input type="radio" [value]="3">
        <span>3 mesas</span>
      </label>
    </div>
  </div>

  <div class="col col-xs-6">
    <select class="custom-select">
      <option value="ASC">ASC</option>
      <option value="DESC">DESC</option>
    </select>
  </div>
</div>

<ngb-accordion #acc="ngbAccordion">
  <ngb-panel *ngFor="let item of restaurants | order:'_source.name':'DESC' | filter:'_source.freeTables':0; let i = index;" title="{{ item._source.name }}">
    <ng-template ngbPanelContent>
      <ul>        
        <li><strong>item._index:</strong> {{ item._index }}</li>
        <li><strong>item._type:</strong> {{ item._type }}</li>
        <li><strong>item._id:</strong> {{ item._id }}</li>
        <li><strong>item._score:</strong> {{ item._score }}</li>
        <li><strong>item._source.Id:</strong> {{ item._source.Id }}</li>
        <li><strong>item._source.avg_rate:</strong> {{ item._source.avg_rate }}</li>
        <li><strong>item._source.description:</strong> {{ item._source.description }}</li>
        <li><strong>item._source.freeTables:</strong> {{ item._source.freeTables }}</li>
        <li><strong>item._source.hour_open:</strong> {{ item._source.hour_open }}</li>
        <li><strong>item._source.locale:</strong> {{ item._source.locale }}</li>
        <li><strong>item._source.name:</strong> {{ item._source.name }}</li>
        <li><strong>item._source.phone:</strong> {{ item._source.phone }}</li>
        <li><strong>item._source.speciality:</strong> {{ item._source.speciality }}</li>
        <li><strong>item._source.fields:</strong> {{ item._source.fields }}</li>
      </ul>          
    </ng-template>
  </ngb-panel>
</ngb-accordion>

<!--
  https://webcake.co/object-properties-in-angular-2s-ngfor/
-->