<div id="{{ id }}" class="{{ id }}">     
    <table class="table table-striped">
        <thead>
            <!-- field -->
            <tr>
                <th>#</th>

                <th *ngFor="let field of fields; let i = index;">       
                    <a href="#" *ngIf="field.orderly; else elseBlock" (click)="order($event, field)">
                        {{ field.name }}                                            
                        
                        <i *ngIf="(field.name == activeOrder.name) && !activeOrder.order" class="fa fa-sort-down" aria-hidden="true"></i>
                        <i *ngIf="(field.name == activeOrder.name) && activeOrder.order" class="fa fa-sort-up" aria-hidden="true"></i>
                        <i *ngIf="field.name != activeOrder.name" class="fa fa-sort" aria-hidden="true"></i>
                    </a>

                    <ng-template #elseBlock>
                        {{ field.name }}
                    </ng-template>
                </th>
            </tr>
            <!-- / field -->
        </thead>

        <tbody>
            <!-- restaurant -->
            <tr *ngFor="let restaurant of restaurants | order:activeOrder.name:activeOrder.order | filter:'_source.freeTables':filter.value; let i = index;">
                <td scope="row">
                    {{ i + 1 }}
                </td>

                <td *ngFor="let field of fields">
                    {{ getRestaurantFieldValue (restaurant, field.name) }}
                </td>
            </tr>
            <!-- / restaurant -->
        </tbody>   
    </table>
</div>
